services:
  db:
    image: mysql:8.0
    container_name: luisardito-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: luisardito_shop
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: luisardito-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes --replica-read-only no
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  api:
    build: .
    container_name: luisardito-backend
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ""
      REDIS_DB: 0
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: luisardito_shop
    command: >
      sh -c "npm install && npx sequelize db:migrate && npm run start"
    volumes:
      - ./tokens:/app/tokens
      - ./backups:/app/backups

volumes:
  db_data:
  redis_data: