services:
  db:
    image: mysql:8.0
    container_name: luisardito-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: luisardito_shop
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: luisardito-backend
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "npm install && npx sequelize db:migrate && npm run start"

volumes:
  db_data:
